h1{	
	font-family: cookie;
	font-size: 50px;
	margin: 60px auto 50px;
	font-weight: bold;
}

a, u {
    text-decoration: none !important;
    color:black;
}

.cal-outline{
    margin: 100px auto;
    width:400px;
    height:590px;
    border:2px black solid;
}

.screen{
    margin:30px auto;
    width:350px;
    height:100px;
    border:2px black solid;
}

.screen-num{
        font-size:40px;
        margin-top:20px;
        margin-right: 10px;
}

.buttons{
    max-width: 90%;
    margin: 10px auto;
}

.cal-button{
    margin:10px;
    width:65px;
    height:60px;
    display:inline-block;
    border: 2px black solid;
    font-size: 30px;
}
#plus{
    height:145px;
    float: right;
    margin-top:-75px;
}

.special{
    margin-top:0 px;
}