body{
	background-color: teal;
}

.container{
	max-width: 1050px;
}

.title{
	color:white;
	font-size: 80px;
	font-family: 'Cookie';
	margin-top: 20px;
	font-weight: bold;
}

.low-text{
	color:white;
	font-size: 20px;
	margin-top: -15px;
	margin-bottom: 40px;
	font-weight: bold;
}

.grid-item{ 
	width: 240px; 
	margin-bottom: 10px;
	background-color: white;
}
.grid-item:hover{
	background-color: lightgrey;
}

.grid-img{
	width: 100%;
	display: block;
}

.grid-text{
	margin:25px 20px;
}

a.grid-title, a.grid-author, a.grid-votes{
	text-decoration: none;
	color:black;
	margin:20px auto;
}

a.grid-title{
	display: block;
}

a.grid-author{
	display: inline-block;
	float:right;
}

a.grid-votes{
	display: inline-block;
	float:left;
}